* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #08090d;
    color: #f4f4f5;
    font-family:
        "Segoe UI",
        Arial,
        sans-serif;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

::selection {
    background: #d9ff45;
    color: #08090d;
}


.background-grid {
    position: fixed;
    inset: 0;

    background-image:
        linear-gradient(
            rgba(255,255,255,0.025) 1px,
            transparent 1px
        ),
        linear-gradient(
            90deg,
            rgba(255,255,255,0.025) 1px,
            transparent 1px
        );

    background-size: 60px 60px;

    mask-image:
        linear-gradient(
            to bottom,
            black,
            transparent 90%
        );

    pointer-events: none;
    z-index: -3;
}

.glow {
    position: fixed;
    width: 500px;
    height: 500px;

    border-radius: 50%;

    filter: blur(120px);

    opacity: 0.08;

    pointer-events: none;

    z-index: -2;
}

.glow-one {
    background: #d9ff45;
    top: 5%;
    left: -200px;
}

.glow-two {
    background: #6d5dfc;
    right: -200px;
    top: 45%;
}


.navbar {
    width: min(1200px, calc(100% - 40px));

    height: 76px;

    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid rgba(255,255,255,0.08);
}

.logo {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -1px;
}

.logo span {
    color: #d9ff45;
}

.logo b {
    color: #555;
    margin: 0 4px;
}

.navbar nav {
    display: flex;
    gap: 35px;
}

.navbar nav a {
    color: #85858e;
    font-size: 14px;
    transition: 0.3s ease;
}

.navbar nav a:hover {
    color: #d9ff45;
}

.nav-button {
    border: 1px solid rgba(255,255,255,0.15);

    padding: 10px 17px;

    border-radius: 8px;

    font-size: 13px;

    transition: 0.3s ease;
}

.nav-button:hover {
    border-color: #d9ff45;
    color: #d9ff45;
}


.section {
    width: min(1100px, calc(100% - 40px));
    margin: 0 auto;

    padding: 120px 0;
}

.section-heading p:first-child {
    color: #d9ff45;

    font-size: 11px;

    letter-spacing: 3px;

    margin-bottom: 18px;
}

.section-heading h2 {
    font-size: clamp(38px, 5vw, 65px);

    line-height: 1;

    letter-spacing: -3px;
}

.section-heading h2 span {
    color: #d9ff45;
}

.heading-description {
    color: #777984;

    max-width: 550px;

    margin-top: 22px;

    line-height: 1.8;

    font-size: 15px;
}

.center {
    text-align: center;
}

.center .heading-description {
    margin-left: auto;
    margin-right: auto;
}



.hero {
    min-height: calc(100vh - 76px);

    display: grid;

    grid-template-columns: 1.1fr 0.9fr;

    align-items: center;

    gap: 80px;

    padding-top: 80px;
}

.availability {
    display: inline-flex;

    align-items: center;

    gap: 9px;

    border: 1px solid rgba(217,255,69,0.2);

    color: #b9bdad;

    padding: 8px 12px;

    border-radius: 100px;

    font-size: 11px;

    margin-bottom: 30px;

    background: rgba(217,255,69,0.03);
}

.availability span {
    width: 7px;
    height: 7px;

    border-radius: 50%;

    background: #d9ff45;

    box-shadow:
        0 0 12px #d9ff45;
}

.hero-small {
    font-family: monospace;

    color: #777984;

    font-size: 14px;

    margin-bottom: 17px;
}

.hero h1 {
    font-size: clamp(50px, 6vw, 78px);

    line-height: 0.98;

    letter-spacing: -5px;

    max-width: 700px;
}

.hero h1 span {
    color: #d9ff45;
}

.hero-description {
    color: #858690;

    line-height: 1.8;

    max-width: 590px;

    margin-top: 28px;

    font-size: 15px;
}

.hero-description strong {
    color: #fff;
}

.hero-buttons {
    display: flex;

    gap: 12px;

    margin-top: 35px;
}

.primary-button,
.secondary-button {
    display: inline-flex;

    align-items: center;

    gap: 25px;

    padding: 14px 18px;

    border-radius: 7px;

    font-size: 13px;

    transition: 0.3s ease;
}

.primary-button {
    background: #d9ff45;

    color: #08090d;

    font-weight: 700;
}

.primary-button:hover {
    transform: translateY(-3px);

    box-shadow:
        0 12px 35px rgba(217,255,69,0.15);
}

.secondary-button {
    border: 1px solid rgba(255,255,255,0.13);

    color: #bbbcc4;
}

.secondary-button:hover {
    border-color: #d9ff45;

    color: #d9ff45;

    transform: translateY(-3px);
}

.hero-tech {
    display: flex;

    flex-wrap: wrap;

    gap: 10px;

    margin-top: 45px;
}

.hero-tech span {
    color: #5d5e67;

    font-family: monospace;

    font-size: 10px;

    border: 1px solid rgba(255,255,255,0.07);

    padding: 7px 10px;

    border-radius: 4px;
}


.developer-card-wrapper {
    perspective: 1000px;
}

.developer-card {
    background: #0e1015;

    border: 1px solid rgba(255,255,255,0.09);

    border-radius: 14px;

    overflow: hidden;

    box-shadow:
        0 35px 80px rgba(0,0,0,0.4);

    transform: rotateY(-5deg) rotateX(3deg);

    transition: 0.5s ease;

    animation: floating 5s ease-in-out infinite;
}

.developer-card:hover {
    transform:
        rotateY(0deg)
        rotateX(0deg)
        translateY(-8px);
}

@keyframes floating {

    0%,100% {
        transform:
            rotateY(-5deg)
            rotateX(3deg)
            translateY(0);
    }

    50% {
        transform:
            rotateY(-5deg)
            rotateX(3deg)
            translateY(-10px);
    }
}

.card-top {
    height: 45px;

    border-bottom: 1px solid rgba(255,255,255,0.06);

    display: flex;

    align-items: center;

    gap: 7px;

    padding: 0 15px;
}

.window {
    width: 8px;
    height: 8px;

    border-radius: 50%;
}

.red {
    background: #ff5f56;
}

.yellow {
    background: #ffbd2e;
}

.green {
    background: #27c93f;
}

.file-name {
    color: #666973;

    font-family: monospace;

    font-size: 10px;

    margin-left: 12px;
}

.code-area {
    padding: 28px 20px;

    min-height: 370px;

    font-family: monospace;

    font-size: 12px;

    line-height: 2.2;

    color: #8e929d;
}

.code-area p {
    white-space: nowrap;
}

.line-number {
    color: #373a43;

    display: inline-block;

    width: 25px;
}

.keyword {
    color: #c792ea;
}

.class-name {
    color: #82aaff;
}

.string {
    color: #c3e88d;
}

.function {
    color: #82aaff;
}

.cursor {
    width: 7px;
    height: 14px;

    background: #d9ff45;

    display: inline-block;

    margin-left: 35px;

    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.card-footer {
    height: 34px;

    background: #0a0c10;

    border-top: 1px solid rgba(255,255,255,0.06);

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 0 15px;

    color: #454851;

    font-family: monospace;

    font-size: 9px;
}

.card-footer span:first-child {
    color: #9aaa62;
}

.about {
    border-top: 1px solid rgba(255,255,255,0.06);
}

.about-grid {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 90px;

    margin-top: 70px;
}

.about-text {
    color: #777984;

    line-height: 1.8;

    font-size: 15px;
}

.about-text p {
    margin-bottom: 22px;
}

.about-text .large-text {
    font-size: 27px;

    color: #c7c8cd;

    line-height: 1.4;

    letter-spacing: -1px;
}

.about-text strong {
    color: #fff;
}

.about-stats {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 12px;
}

.stat-card {
    min-height: 160px;

    border: 1px solid rgba(255,255,255,0.07);

    background: rgba(255,255,255,0.02);

    padding: 22px;

    border-radius: 10px;

    display: flex;

    flex-direction: column;

    justify-content: space-between;

    transition: 0.3s ease;
}

.stat-card:hover {
    border-color: rgba(217,255,69,0.3);

    transform: translateY(-5px);

    background: rgba(217,255,69,0.02);
}

.stat-number {
    color: #d9ff45;

    font-family: monospace;

    font-size: 11px;
}

.stat-label {
    color: #7e8089;

    font-size: 13px;

    line-height: 1.4;
}

.skills {
    border-top: 1px solid rgba(255,255,255,0.06);
}

.skills-grid {
    display: grid;

    grid-template-columns: repeat(5, 1fr);

    gap: 10px;

    margin-top: 60px;
}

.skill-card {
    min-height: 180px;

    border: 1px solid rgba(255,255,255,0.07);

    border-radius: 10px;

    padding: 20px;

    display: flex;

    flex-direction: column;

    justify-content: space-between;

    position: relative;

    overflow: hidden;

    background:
        linear-gradient(
            145deg,
            rgba(255,255,255,0.03),
            rgba(255,255,255,0.005)
        );

    transition: 0.35s ease;
}

.skill-card::after {
    content: "";

    position: absolute;

    width: 80px;
    height: 80px;

    right: -35px;
    bottom: -35px;

    background: #d9ff45;

    filter: blur(45px);

    opacity: 0;

    transition: 0.35s ease;
}

.skill-card:hover {
    transform: translateY(-8px);

    border-color: rgba(217,255,69,0.25);
}

.skill-card:hover::after {
    opacity: 0.2;
}

.skill-icon {
    font-family: monospace;

    font-size: 24px;

    color: #d9ff45;
}

.skill-card h3 {
    font-size: 15px;

    margin-bottom: 5px;
}

.skill-card p {
    color: #62646d;

    font-size: 10px;
}

.skill-number {
    position: absolute;

    top: 15px;
    right: 15px;

    color: #383a42;

    font-family: monospace;

    font-size: 9px;
}



.projects {
    border-top: 1px solid rgba(255,255,255,0.06);
}

.project-card {
    margin-top: 60px;

    border: 1px solid rgba(255,255,255,0.07);

    border-radius: 13px;

    overflow: hidden;

    background: rgba(255,255,255,0.015);

    transition: 0.4s ease;
}

.project-card:hover {
    border-color: rgba(217,255,69,0.2);

    transform: translateY(-5px);
}

.project-number {
    height: 42px;

    padding: 0 20px;

    display: flex;

    align-items: center;

    color: #44464f;

    font-family: monospace;

    font-size: 10px;

    border-bottom: 1px solid rgba(255,255,255,0.06);
}

.project-content {
    display: grid;

    grid-template-columns: 0.85fr 1.15fr;

    min-height: 430px;
}

.project-info {
    padding: 55px;

    display: flex;

    flex-direction: column;

    align-items: flex-start;

    justify-content: center;
}

.project-label {
    color: #d9ff45;

    font-family: monospace;

    font-size: 9px;

    letter-spacing: 2px;

    margin-bottom: 18px;
}

.project-info h3 {
    font-size: 36px;

    letter-spacing: -2px;

    margin-bottom: 20px;
}

.project-info > p:not(.project-label) {
    color: #777984;

    font-size: 14px;

    line-height: 1.8;

    max-width: 420px;
}

.project-tags {
    display: flex;

    flex-wrap: wrap;

    gap: 7px;

    margin: 25px 0;
}

.project-tags span {
    border: 1px solid rgba(255,255,255,0.08);

    padding: 6px 9px;

    border-radius: 4px;

    color: #656771;

    font-size: 9px;
}

.project-link {
    color: #d9ff45;

    font-size: 12px;

    display: flex;

    gap: 12px;

    transition: 0.3s ease;
}

.project-link:hover {
    gap: 18px;
}



.project-visual {
    min-height: 430px;

    background: #0c0e13;

    display: flex;

    align-items: center;

    justify-content: center;

    overflow: hidden;

    position: relative;
}

.project-visual::before {
    content: "";

    position: absolute;

    inset: 0;

    background-image:
        linear-gradient(
            rgba(255,255,255,0.025) 1px,
            transparent 1px
        ),
        linear-gradient(
            90deg,
            rgba(255,255,255,0.025) 1px,
            transparent 1px
        );

    background-size: 35px 35px;
}

.visual-window {
    width: 78%;

    border: 1px solid rgba(255,255,255,0.1);

    border-radius: 8px;

    background: #111319;

    box-shadow: 0 30px 60px rgba(0,0,0,0.5);

    position: relative;

    z-index: 1;

    transform: rotate(-2deg);

    transition: 0.5s ease;
}

.project-card:hover .visual-window {
    transform: rotate(0deg) scale(1.03);
}

.visual-header {
    height: 28px;

    border-bottom: 1px solid rgba(255,255,255,0.06);

    display: flex;

    align-items: center;

    gap: 5px;

    padding-left: 10px;
}

.visual-header span {
    width: 5px;
    height: 5px;

    background: #555;

    border-radius: 50%;
}

.visual-content {
    height: 270px;

    display: flex;
}

.fake-sidebar {
    width: 23%;

    border-right: 1px solid rgba(255,255,255,0.06);
}

.fake-main {
    flex: 1;

    padding: 25px;
}

.fake-title {
    width: 45%;
    height: 12px;

    background: #333741;

    border-radius: 3px;

    margin-bottom: 25px;
}

.fake-cards {
    display: flex;

    gap: 10px;
}

.fake-cards div {
    flex: 1;

    height: 55px;

    border-radius: 5px;

    background: #1b1e26;

    border: 1px solid #282b33;
}

.fake-cards div:first-child {
    border-color: rgba(217,255,69,0.25);
}

.fake-table {
    margin-top: 20px;

    display: flex;

    flex-direction: column;

    gap: 8px;
}

.fake-table span {
    width: 100%;
    height: 8px;

    background: #1b1e26;

    border-radius: 2px;
}


.portfolio {
    background:
        radial-gradient(
            circle,
            rgba(217,255,69,0.06),
            transparent 60%
        );
}

.phone {
    width: 190px;
    height: 365px;

    border: 5px solid #22252d;

    border-radius: 28px;

    background: #090b0f;

    box-shadow:
        0 30px 80px rgba(0,0,0,0.6);

    position: relative;

    z-index: 2;

    transform: rotate(5deg);

    transition: 0.5s ease;
}

.project-card:hover .phone {
    transform: rotate(0deg) translateY(-8px);
}

.phone-notch {
    width: 60px;
    height: 13px;

    background: #22252d;

    position: absolute;

    top: -1px;
    left: 50%;

    transform: translateX(-50%);

    border-radius: 0 0 10px 10px;
}

.phone-screen {
    height: 100%;

    padding: 55px 20px 20px;

    display: flex;

    flex-direction: column;

    align-items: center;
}

.phone-avatar {
    width: 55px;
    height: 55px;

    border-radius: 50%;

    background: #d9ff45;

    color: #08090d;

    display: flex;

    align-items: center;

    justify-content: center;

    font-weight: 800;

    margin-bottom: 20px;
}

.phone-line {
    width: 90%;
    height: 7px;

    background: #252832;

    margin: 5px;

    border-radius: 3px;
}

.phone-line.large {
    width: 75%;
}

.phone-line.short {
    width: 50%;
}

.phone-button {
    width: 80%;
    height: 28px;

    background: #d9ff45;

    border-radius: 5px;

    margin-top: 18px;
}

.phone-boxes {
    display: flex;

    gap: 7px;

    width: 90%;

    margin-top: 20px;
}

.phone-boxes div {
    flex: 1;

    height: 50px;

    background: #171a21;

    border-radius: 5px;
}


.education {
    border-top: 1px solid rgba(255,255,255,0.06);
}

.education-card {
    margin-top: 60px;

    display: grid;

    grid-template-columns: 180px 1fr;

    gap: 50px;

    padding: 45px;

    border: 1px solid rgba(255,255,255,0.07);

    border-radius: 12px;

    background: rgba(255,255,255,0.02);

    transition: 0.35s ease;
}

.education-card:hover {
    transform: translateY(-5px);

    border-color: rgba(217,255,69,0.25);
}

.education-year {
    color: #d9ff45;

    font-family: monospace;

    font-size: 12px;
}

.education-info h3 {
    font-size: 28px;

    letter-spacing: -1px;

    margin: 10px 0;
}

.education-info > p:not(.project-label) {
    color: #888a93;

    font-size: 15px;

    margin-bottom: 12px;
}

.education-info > span {
    color: #555861;

    font-size: 11px;

    font-family: monospace;
}


@media (max-width: 600px) {

    .education-card {
        grid-template-columns: 1fr;

        gap: 20px;

        padding: 30px 25px;
    }

    .education-info h3 {
        font-size: 23px;
    }
}    

.contact {
    border-top: 1px solid rgba(255,255,255,0.06);
}

.contact-box {
    min-height: 430px;

    border: 1px solid rgba(255,255,255,0.08);

    border-radius: 15px;

    overflow: hidden;

    display: grid;

    grid-template-columns: 1fr 0.8fr;

    background: #0d0f14;
}

.contact-content {
    padding: 65px;

    display: flex;

    flex-direction: column;

    justify-content: center;
}

.contact-label {
    color: #d9ff45;

    font-family: monospace;

    font-size: 10px;

    letter-spacing: 2px;

    margin-bottom: 20px;
}

.contact h2 {
    font-size: clamp(42px, 5vw, 64px);

    line-height: 1;

    letter-spacing: -3px;
}

.contact h2 span {
    color: #d9ff45;
}

.contact-content > p:not(.contact-label) {
    color: #777984;

    max-width: 450px;

    font-size: 14px;

    line-height: 1.8;

    margin-top: 25px;
}

.contact-buttons {
    display: flex;

    gap: 10px;

    margin-top: 30px;
}

.contact-decoration {
    position: relative;

    overflow: hidden;

    border-left: 1px solid rgba(255,255,255,0.06);

    display: flex;

    align-items: center;

    justify-content: center;
}

.circle {
    position: absolute;

    border-radius: 50%;

    border: 1px solid rgba(217,255,69,0.1);
}

.circle-one {
    width: 400px;
    height: 400px;
}

.circle-two {
    width: 270px;
    height: 270px;
}

.terminal {
    position: relative;

    width: 230px;

    padding: 20px;

    background: #090b0f;

    border: 1px solid rgba(255,255,255,0.1);

    border-radius: 8px;

    box-shadow: 0 20px 50px rgba(0,0,0,0.4);

    font-family: monospace;

    font-size: 10px;

    color: #858892;

    line-height: 2;
}

.terminal-success {
    display: block;

    color: #a5b66e;
}

.terminal-cursor {
    color: #d9ff45;

    animation: blink 1s infinite;
}


footer {
    width: min(1100px, calc(100% - 40px));

    margin: auto;

    min-height: 90px;

    border-top: 1px solid rgba(255,255,255,0.06);

    display: flex;

    align-items: center;

    justify-content: space-between;

    color: #555761;

    font-size: 11px;
}

.footer-logo {
    color: #888a92;

    font-family: monospace;
}

.footer-links {
    display: flex;

    gap: 20px;
}

.footer-links a {
    transition: 0.3s ease;
}

.footer-links a:hover {
    color: #d9ff45;
}



@media (max-width: 900px) {

    .navbar nav {
        display: none;
    }

    .hero {
        grid-template-columns: 1fr;

        gap: 60px;
    }

    .developer-card-wrapper {
        max-width: 650px;

        width: 100%;

        margin: auto;
    }

    .skills-grid {
        grid-template-columns:
            repeat(3, 1fr);
    }

    .about-grid {
        grid-template-columns: 1fr;

        gap: 50px;
    }

    .project-content {
        grid-template-columns: 1fr;
    }

    .project-visual {
        min-height: 350px;
    }

    .contact-box {
        grid-template-columns: 1fr;
    }

    .contact-decoration {
        min-height: 280px;

        border-left: none;

        border-top: 1px solid rgba(255,255,255,0.06);
    }
}


@media (max-width: 600px) {

    .section {
        padding: 85px 0;
    }

    .navbar {
        width: calc(100% - 28px);
    }

    .nav-button {
        display: none;
    }

    .hero {
        padding-top: 50px;
    }

    .hero h1 {
        font-size: 48px;

        letter-spacing: -3px;
    }

    .hero-buttons {
        flex-direction: column;

        align-items: stretch;
    }

    .primary-button,
    .secondary-button {
        justify-content: center;
    }

    .developer-card {
        transform: none;

        animation: none;
    }

    .code-area {
        overflow-x: auto;

        font-size: 10px;
    }

    .skills-grid {
        grid-template-columns: 1fr 1fr;
    }

    .skill-card {
        min-height: 150px;
    }

    .about-stats {
        grid-template-columns: 1fr 1fr;
    }

    .project-info {
        padding: 35px 25px;
    }

    .project-info h3 {
        font-size: 30px;
    }

    .project-visual {
        min-height: 300px;
    }

    .visual-window {
        width: 90%;
    }

    .visual-content {
        height: 210px;
    }

    .contact-content {
        padding: 40px 25px;
    }

    .contact h2 {
        font-size: 43px;

        letter-spacing: -2px;
    }

    footer {
        flex-direction: column;

        justify-content: center;

        gap: 12px;

        padding: 25px 0;
    }
}


@media (max-width: 380px) {

    .skills-grid {
        grid-template-columns: 1fr;
    }

    .about-stats {
        grid-template-columns: 1fr;
    }

    .hero h1 {
        font-size: 42px;
    }
}

    
